.AddClases {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: rgb(60, 60, 60);
    padding-left: 2rem;
}

.AddClases h2 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 28pt;
    margin-left: 10%;
}

.Hub {
    width: 45%;
}

.Hub input {
    width: 20rem;
    height: 2rem;
    font-size: 12pt;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 3%;
    border: rgba(147, 147, 147, 0.276) 0.5px solid;
    border-radius: 0.6rem;
    display: flex;
    flex-direction: row;
}

.Hub select {
    margin-left: 11em;
}

.SubmitClase {
    margin-left: 12em;
}