.AddInstructor {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: rgb(60, 60, 60);
    padding-left: 180px;

}

.AddInstructor h2 {
    font-weight: normal;
    font-size: 28pt;
    margin-left: 10%;
}

.AddInstructor input {
    width: 80%;
    height: 2rem;
    font-size: 12pt;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 3%;
    border: rgba(147, 147, 147, 0.276) 0.5px solid;
    border-radius: 0.6rem;
}
.AddInstructor input.text {
    padding-left: 3%;
}

.AddInstructor select {
    width: 84%;
    height: 2.3rem;
    font-size: 12pt;
    color: rgb(120, 120, 120);
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 3%;
    background-color: white;
    border: rgba(147, 147, 147, 0.276) 0.5px solid;
    border-radius: 0.6rem;
}

.DatosPersona {
    width: 45%;
    padding-bottom: 2rem;
    float: left;
}

.FichaMedica {
    width: 45%;
    padding-bottom: 2rem;
    padding-right: 4%;
    float: right;
}

.SeparadorInstructor {
    border-left: rgba(147, 147, 147, 0.276) 1.5px solid;
    height: 27.5rem;
    margin-top: 5.5rem;
    margin-left: 48%;
}

.AceptarInstructor {
    margin-top: 1em;
    margin-left: 35%;
}

.AceptarInstructor input {
    background: rgb(58, 199, 112);
    width: 3.8cm;
    height: 1.0cm;
    border-color: rgb(58, 199, 112);
    border-radius: 2em;
    color: rgb(255, 255, 255);
    font-size: 12pt;
}
