h2.NuevoPago {
    font-weight: normal;
    font-size: 28pt;
    margin-left: 40%;

}

input.InputText {
    width: 20rem;
    height: 2rem;
    font-size: 12pt;
    margin-left: 40%;
    margin-top: 1rem;
    padding-left: 3%;
    border: rgba(147, 147, 147, 0.276) 0.5px solid;
    border-radius: 0.6rem;

}

button.EnviarPago {
    background-color: rgb(58, 199, 112);
    width: 3.8cm;
    height: 1.0cm;
    border-color: rgb(58, 199, 112);
    border-radius: 2rem;
    color: rgb(255, 255, 255);
    font-size: 12pt;
    margin-top: 1rem;
    margin-left: 52.5%;

}
