.infoAlumno{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: rgb(60, 60, 60);
    padding-left: 180px;
}

.infoAlumno h2{
    font-weight: normal;
    font-size: 28pt;
    margin-top: 2%;
}

.infoAlumno p#Subtitulo {
    font-weight: bold;
    font-size: 14pt;

}

.DatosPersonales {
    display: flex;
    flex-direction: row;
}

.Horario {
    margin-left: 0%;
}

.Salud {
    display: flex;
    flex-direction: row;
}

.Etiquetas {
    font-weight: bold;
}
.Informacion {
    padding-left: 2%;
}



