.AddAlumno {
    font-family: verdana;
    background-color: rgba(43, 130, 223, 0.993);
    padding-left: 180px;
    display: flex;
    flex-direction: row;
}

.AddAlumno h2 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 28pt;
}

.AddAlumno input {
    width: 80%;
    height: 2rem;
    font-size: 12pt;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    display: flex;
    flex-direction: row;
}

.DatosBasicos {
    width: 100%;
    background-color: rgb(33, 125, 182);
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
    padding-bottom: 2rem;
}

.DatosClinicos {
    width: 100%;
    background-color: rgb(33, 182, 38);
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
    padding-bottom: 2rem;

}
