.Alumnos{
	font-family: verdana;
    color:#000000;
    background-color:#fffffffb;
    padding-left: 200px;
}

.AddAlumno {    
    padding-top: 20px;
    padding-bottom: 15px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}


table {
    width: 100%;
    border: 1px solid #999;
    text-align: center;
    border-collapse: collapse;
    margin: 0 0 1em 0;
    caption-side: top;
}

caption, td, th {
    padding: 0.3em;
}

tbody {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

th {
    border-bottom: blue 1px solid;
    width: 25%;

}

td {
    border-bottom: black 1px solid;
    width: 25%;
}






