
.Alumnos{
	font-family: verdana;
    color:#000000;
    background-color: rgba(226, 240, 255, 0.993);
    padding-left: 200px;
}

.AddAlumno {    
    padding-top: 20px;
    padding-bottom: 15px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

table {
    width: 100%;
    border: 1px solid #999;
    text-align: center;
    border-collapse: collapse;
    margin: 0 0 1em 0;
    caption-side: top;
}

caption, td, th {
    padding: 0.2em;
}

th {
    border-bottom: blue 1px solid;
    width: 25%;

}

th.Nombre {
    width: 45%;
}
th.Telefono {
    width: 15%;
}
th.Correo {
    width: 40%;
}



td {
    border: black 1px solid;
}






